  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: #DEE2D6;
}

.header {
    width: 100%;
    background-color: #DEE2D6;
}

.menu {
    display: flex;
    gap: 10px;

}

.selected {
    background-color: #986C6A;
    border: 2px solid black;
    padding: 2px 4px;
    border-radius: 5px;
}

.main-content-all-cocktails a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.main-content-all-cocktails a:hover {
    color: #0D1B2A;
}



.menu a {
    text-decoration: none;
    color: #0D1B2A;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.menu a:hover {
    color: gray;
}

input {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
  }

   input:focus {
    outline: 1px solid gray;
   }

  button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #986C6A;
  }

.main-content{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main-content-all-cocktails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.main-content-center {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    background-color: #DEE2D6;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.search-results{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

div.result {
    background-color: white;
    height: 550px;
    width: 300px;
    padding: 12px 14px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1.result {
    color: #0D1B2A;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

img.result {
    height: 300px;
    width: 100%;
}

p.result {
    color: grey;
    font-family: 'Roboto', sans-serif;
}

button.result {
    background-color: #476a2e;
    letter-spacing: 2px;
    color: white;
}

button.result:hover {
    background-color: #6a9f45;
}




/* CSS RESET */
html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F8F2;
}