  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

  @media only screen and (max-width: 999px) {

    div.header>div.header-center>div.hamburger {
        display: block;
    }

    div.main-content-center {
        width: 90%;
    }

    .menu-mobile.open {
        background-color: white;
        position: absolute;
        display: block;
        height: 100vh;
        width: 50vw;
        right: 0;
    }

    div.header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    div.header>div.header-center {
        width: 100%;
    }
    div.header-center>.menu {
        display: none;
    }
    .main-content-center {
        width: 100%;
    }
    div.search-results {
        grid-template-columns: auto;
    }


}


.hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #0D1B2A;
    margin: 5px;
    border-radius: 5px;
}

.hamburger-line.open:first-child{
    transform: rotate(-45deg);
    transform: translateX(0px) translateY(8px) rotate(-45deg);
    background-color: #0D1B2A;
}

.hamburger-line.open:nth-child(2){
    display: none;
}
.hamburger-line.open:last-child{
    transform: rotate(45deg);
    background-color: #0D1B2A;
}


.hamburger {
    display: none;
}

.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: white;
}

.header {
    width: 100%;
    background-color: white;
}

.menu {
    display: flex;
    gap: 10px;

}
.menu-mobile {
    display: none;

}
.menu-mobile-content {
    display: flex;
    font-size: 20px;
    gap:10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-mobile-content a {
        text-decoration: none;
        color: #0D1B2A;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;

}

.menu-mobile-content a:hover {
    color: gray;
}

.selected {
    background-color: white;
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 5px;

}

.main-content-all-cocktails a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.main-content-all-cocktails {
    display: flex;
    flex-wrap: wrap;

}

.main-content-all-cocktails a:hover {
    color: #0D1B2A;
}



.menu a {
    text-decoration: none;
    color: #0D1B2A;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.menu a:hover {
    color: gray;
}

input {
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 50%;
    background-image: url("./assets/search_FILL0_wght400_GRAD0_opsz24.png");
    background-position: 12px 5px;
    background-repeat: no-repeat;
    font-family: "Roboto";
    transition: width 0.4s ease-in-out;
  }

  .loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    display: none;
    margin-top: 100px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  .loader.show {
      display: block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

   input:focus {
    outline: none;
    width: 100%;
   }

  button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #0D1B2A;
  }

.main-content{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main-content-all-cocktails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.main-content-center {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.search-results{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

div.result-bottom{
    padding: 24px;
}

div.result {
    background-color: white;
    height: 100%;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1.result {
    color: #0D1B2A;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

img.result {
    height: 300px;
    width: 100%;
}

p.result {
    color: grey;
    font-family: 'Roboto', sans-serif;
}

button.result {
    background-color: #476a2e;
    letter-spacing: 2px;
    color: white;
}

button.result:hover {
    background-color: #6a9f45;
}




/* CSS RESET */
html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}